<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" }}
  </head>
  <body>
    <nav>
      <div class="nav-left">{{ .title }}</div>
    </nav>
    <div class="head-container">
      <h1 class="page-title">5G doesn't fry your brain.</h1>

      <p>
        People think 5G will fry their children.
        <br />
        This is simply to prove them wrong.
      </p>
    </div>
    <div class="text-area">
      {{ range $id, $content := .points }}
      <div class="q-cont" id="{{ $id }}">
        {{ $content }}
      </div>
      {{ end }}
    </div>
    {{ template "footer" }}
  </body>
</html>
