<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ .title }}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/main.css" />

    <meta property="og:title" content="The Fifth Site" />
    <meta property="og:description" content="Answering your questions about 5G." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://5th.site" />
    <meta name="theme-color" content="#02efef" />
  </head>
  <body>
    <nav>
      <div class="nav-left">{{ .title }}</div>
    </nav>
    <div class="head-container">
      <h1 class="page-title">5G doesn't fry your brain.</h1>

      <p>
        People think 5G will fry their children. No, I'm not joking. This is simply to prove them wrong.
      </p>
    </div>
    <div class="text-area">
      {{ range $id, $content := .points }}
      <div class="q-cont" id="{{ $id }}">
        {{ $content }}
      </div>
      {{ end }}
    </div>
    <footer>
      © 2020 The Fifth Site Contributors
      <br />
      This site is open-source; contribute <a href="https://github.com/elitisgroup/5g">here</a>! <br /><br />
      We are in no way affiliated with the government or any network providers.
      <br />
      Absolutely everyone is able to contribute to or host this website.
    </footer>
  </body>
</html>
