@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;300&display=swap");
body,
html {
  margin: 0;
  font-family: "roboto", sans-serif;
  color: #000000;
  overflow-x: hidden;
  text-align: center;
  font-size: 14px;
  background-color: #ffffff;
}

[data-theme="dark"] body, html {
  background-color: #121212 !important;
}

nav {
  height: auto;
  padding: 1.5vw 1.5vh;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid rgb(228, 225, 225);
  position: fixed;
  text-align: left;
  font-size: 2vh;
}

[data-theme="dark"] nav {
  background-color: #000000;
  color: #ffffff;
}

.head-container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(238, 238, 238);
  position: inherit;
  text-align: center;
}

[data-theme="dark"] .head-container {
  background-color: #000000;
  color: #ffffff;
}

.text-bg {
  background-color: #ffffff;
}

[data-theme="dark"] .text-bg {
  background-color: #121212;
}

.text-area {
  text-align: left;
  width: 60%;
  display: inline-block;
}

[data-theme="dark"] .text-area {
  background-color: #121212;
  color: #ffffff;
}

.q-cont {
  padding: 3% 0 0 0;
  margin: 0;
}

[data-theme="dark"] .q-cont {
  background-color: #121212;
  color: #ffffff;
}

h1 {
  margin: 0 0 3vh 0;
  padding: 0 0 2vh 0;
  font-size: 4vh;
  border-bottom: 1px solid rgb(228, 225, 225);
}

[data-theme="dark"] h1 {
  border-bottom: 1px solid #000000;
}

.page-title {
  font-size: 7vh;
  margin: 0 0 5vh 0;
  padding-top: 42vh;
}

[data-theme="dark"] .page-title {
  border-bottom: 1px solid #121212;
}

h2 {
  margin: 0;
  padding: 0 0 2vh 0;

  font-size: 3.5vh;
  font-weight: 500;
}

p {
  margin: 0;
  padding: 0 0 2vh 0;

  font-size: 2.5vh;
  font-weight: 300;
}

[data-theme="dark"] p {
  color: #ffffff;
}

img {
  border-radius: 2vh;
  height: auto;
  max-width: 60%;
  align-self: center;
  transition: 0.1s;
}
img:hover {
  border-radius: 1vh;
  transition: 0.2s;
}

em {
  margin: 0;
  padding: 0.2% 0 0 1%;

  font-size: 2vh;
  font-weight: 500;
  font-style: italic;
}

[data-theme="dark"] em {
  color: #ffffff;
}

footer {
  padding: 2.5vh 0 2.5vh 0;
  width: 100vw;
  font-size: 2vh;
  background-color: rgb(238, 238, 238);
}

[data-theme="dark"] footer {
  background-color: #000000;
  color: #ffffff;
}

[data-theme="dark"] a:visited {
  color: #03DAC6;
}

[data-theme="dark"] a {
  color: #BB86FC;
}

[data-theme="dark"] a:active {
  color: #3700B3;
}

@media only screen and (max-width: 700px) {
  .text-area {
    width: 95vw;
  }
}
