@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;300&display=swap');
body, html {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    overflow-x: hidden;
    text-align: center;
    font-size: 12px;
    background-color: white;
}

nav {
    height: auto;
    padding: 0.5em;
    width: 100%;
    border-bottom: 1px solid rgb(228, 225, 225);
    position: fixed;
    text-align: left;
}

.nav-left {
    height: 100%;
    padding:0.1em;
    display: inline-block;
}

.head-container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(238, 238, 238);
    position: inherit;
    text-align: center;
}

.text-area {
    width: 60%;
    text-align: left;
    display: inline-block;
}

.q-cont {
    padding: 3% 0 0 0;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0 0 2% 0;

    font-size: 2em;
    border-bottom: 1px solid rgb(228, 225, 225);
}

h2 {
    margin: 0;
    padding: 2% 0% 2% 0%;

    font-size: 1.7em;
    font-weight: 500;
}

p {
    margin: 0;
    padding: 0% 0% 2% 0%; 

    font-size: 1.2em;
    font-weight: 300;
}

img {
    border-radius: 0.5em;
    max-height: 50vh;
    align-self: center;
    transition: 0.5s;
}
img:hover {
    border-radius: 2em;
    transition: 0.5s;
}

em {
    margin: 0;
    padding: 0.2% 0 0 1%;

    font-size: 1em;
    font-weight: 500;
    font-style: italic;
}

footer {
    padding: 1em;
    width: 100vw;
    background-color: rgb(238, 238, 238);
}

@media only screen and (max-width: 700px) {
    .text-area{width: 95vw;}
}
